/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   display: flex;
   gap: 1em;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
}

.ytv {
   display: flex;
   justify-self: center;
   flex-flow: column ;
   align-items: space-between;
   gap: 1em;
}
.ytv__bottom {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.ytv__left {
   display: flex;
   flex-flow: row nowrap;
}
.ytv__right {

}
.profile {
   display: flex;
   flex-direction: row;
   gap: 1em;
   align-items: center;
}
.profile__text {

}
.icon {
   flex-grow: 0;
   flex-shrink: 0;
}
.btn--flex {
   
}
