/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   display: flex;
   gap: 1em;
   justify-content: center;
   flex-wrap: wrap;
   align-content: center;
}

.ytv {
   display: flex;
   justify-self: center;
   flex-flow: column ;
   align-items: space-between;
   gap: 1em;
}
.ytv__bottom {
   display: flex;
   flex-flow: row wrap;
   gap: 1em;
   justify-content: space-between;
   align-items: space-between;
}

.ytv__left {
   display: flex;
}
.ytv__right {
   display: flex;
   flex-flow: row wrap;  
}
.profile {
   display: flex;
   flex-direction: row;
   gap: 1em;
   align-items: center;
}
.profile__text {
   
}
.icon {

}
.btn--flex {
   
}


